.header-hero {
  /* background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url('./Images/Banner.png') no-repeat; */
  background: url("./Images/Banner.png") no-repeat;
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;

  background-attachment: fixed;
}

h1 strong {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
}

button.tear {
  background-color: white;
  border-radius: 100% 100% 0 100%;
  height: 4em;
  width: 4em;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-family: Verdana;
  /* font-size: 2em; */
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  border: 0;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
